* {
    margin : 0;
    padding: 0;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.menubar {
    background-color: darkcyan;
    padding         : 0 30px;
}

.menubar .menu {
    display: flex;
    gap    : 20px;
}

.menubar .menu li {
    padding: 10px;
}

.menubar .menu li a {
    color         : white;
    letter-spacing: 1px;
}

.menubar .menu li span {
    font-size : 12px;
    color     : white;
    transition: 0.2s ease;
}

.menubar .dropdown {
    position: relative;
}

.menubar .dropmenu {
    /* display         : none; */
    position        : absolute;
    transform       : scaleY(0);
    transform-origin: top;
    transition      : 0.5s ease;
    background-color: white;
    padding         : 10px;
    border-radius   : 5px;
    box-shadow      : 0px 0px 5px black;
    line-height     : 24px;
    width           : 120px;
    top             : 41px;
    left            : 0;
}

.menubar .dropmenu li {
    padding: 0;
}

.menubar .dropdown:hover .dropmenu {
    /* display: block; */
    transform: scaleY(1);
}

.menubar .menu .dropmenu a {
    color: black;
}

.menubar .dropdown:hover span {
    transform: rotate(180deg);
}

.menubar .dropdown .arrow {
    position  : absolute;
    height    : 10px;
    width     : 10px;
    background: white;
    transform : translateY(-13px) rotate(45deg);
}